# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
- list popular languages for data science
- list commonly used libraries used by data scientists
- show examples of evaluating arithmetic expressions

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. ggplot

## Data Science Tools
|Data Science Tools|
|------------------|
|JupyterLab|
|GitLab|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes // 60
print("200 minutes=", hours, "hours")

200 minutes= 3 hours

## Author
##### Yvonne Booth